<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CRUD Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    
  <%- include('./partials/navbar.ejs') %>

  <%- include('./partials/message.ejs') %>
  <div class="crear">
  <a href="/create" class="btn btn-primary" id="crear"> Crear </a>
</div>
  <% results.forEach((crud) => { %>
      <div class="container flex-container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">imagen</th>
                <th scope="col">producto</th>
                <th scope="col">nombre</th>
                <th scope="col">descripcion</th>
                <th scope="col">cantidad </th>
                <th scope="col">precio </th>
                <th scope="col">opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col"> <img style=" width: 100px;" src="/imagen/<%=crud.imagen %>"></th>
                <th scope="col"><%= crud.producto %> </th>
                <th scope="col"><%= crud.nombre %> </th>
                <th scope="col"><%= crud.description %></th>
                <th scope="col"> <input type="text"  class="form-control-plaintext" value= "<%= crud.cantidad %>" min="0">  </th>
                <th scope="col"><%= crud.precio %></th>
                <th scope="col">
                  <div style=" display: inline-flex;" >
                    <a href="/edit/<%= crud.id %> " style=" margin: 10px;" class="btn btn-outline-primary"> Editar  </a>
                    <a href="/supr/<%= crud.id %> " style=" margin: 10px;" class="btn btn-outline-danger"> Eliminar</a></th>
                  </div>
              </tr>
            </tbody>
          </form>
          </table>
        </div>
        <% })%>
       
</body>
</html>